@CHARSET "UTF-8";

@-webkit-keyframes ngdialog-fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes ngdialog-fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes ngdialog-fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes ngdialog-fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes ngdialog-flyin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-140px);
    transform: translateY(-140px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes ngdialog-flyin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-140px);
    -ms-transform: translateY(-140px);
    transform: translateY(-140px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes ngdialog-flyout {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-140px);
    transform: translateY(-140px);
  }
}

@keyframes ngdialog-flyout {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-140px);
    -ms-transform: translateY(-140px);
    transform: translateY(-140px);
  }
}


.ngdialog,
.ngdialog *,
.ngdialog *:before,
.ngdialog *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ngdialog {
  position: fixed;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ngdialog-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadein 0.85s;
  animation: ngdialog-fadein 0.85s;
}

.ngdialog.ngdialog-closing .ngdialog-overlay {
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadeout  0.85s;
  animation: ngdialog-fadeout  0.85s;
}

.ngdialog-content {
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-flyin 0.85s;
  animation: ngdialog-flyin 0.85s;
}

.ngdialog.ngdialog-closing .ngdialog-content {
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-flyout  0.85s;
  animation: ngdialog-flyout  0.85s;
}

.ngdialog-close:before {
  font-family: 'Helvetica', Arial, sans-serif;
  content: '\00D7';
  cursor: pointer;
}

body.ngdialog-open {
  overflow: hidden;
}
.modal-body {
    position: relative;
    overflow-y: auto;
    max-height: 400px;
    padding: 35px;
}
.modal-title{
	    color: rgb(254, 152, 15);
}
.modal-header .close{
	 color: rgb(254, 152, 15);
	 opacity: 1;
}
.modal-header .close:hover,.modal-header .close:focus{
	 color: rgb(254, 152, 15);
	 opacity: 0.5;
}
#modalGo,#home,#register{
background: #FE980F none repeat scroll 0% 0%;
border: medium none;
border-radius: 0px;
color: #FFF;
display: block;
font-family: "Roboto",sans-serif;
padding: 6px 25px;
width: 100px;
float: right;
margin:5px;
	}
}