<div class="shopper-informations" ng-init="cartVm.getPaymethodList()">
				<div class="row" >
					<div class="col-sm-3">
						<div class="shopper-info">
							<p>Choose a Payment Method</p>
							<div style="width: 100%" ng-model="cart" >
								<input ng-show="cartVm.cart.paymethod" type="submit" id="submit" value="Pay" ng-click="cartVm.createPayment()" class="btn btn-primary">
								<input ng-hide="cartVm.cart.paymethod" type="submit" value="Pay" class="btn btn-primary" disabled>
								<input ng-hide="cartVm.cart.paymethod" type="submit" id="submit" value="Continue without Payment Method" ui-sref="complete" class="btn btn-primary">
							</div>
						</div>
					</div>
					<div class="col-sm-8 clearfix" >
						<div class="shopper-info">
							<p style="margin-bottom: 33px;">Payment Method List</p>
							<div class="total_area">
								<ul>

									<div ng-repeat="paymethod in cartVm.paymethodList" >
										<a class="check_out " ng-click="cartVm.addPaymethod(paymethod.name)"><i class="fa fa-credit-card" ng-class="{ 'fa-paypal' : paymethod.name == 'PayPal' }" ></i>
										{{paymethod.name}}</a>
										<li style="margin-bottom: 33px;"><i ng-class="{ 'fa fa-check fa-fw': cart.paymethod.name == paymethod.name, 'fa fa-fw' : cart.paymethod.name != paymethod.name}" ng-style="cart.paymethod && {'color':'red'}"></i>
										{{paymethod.description}}</li>
									</div>
									
								</ul>
							</div>
						</div>
					</div>
				</div>
</div>