<div class="shopper-informations" ng-init="$scope.shippingAddress = -1">
				<div class="row">
					<div class="col-sm-3">
						<div class="shopper-info">
							<div style="width: 100%">
								<input ng-show="currentUser.destinationAddress[$scope.shippingAddress].firstname.length &&
								currentUser.destinationAddress[$scope.shippingAddress].lastname.length &&
								currentUser.destinationAddress[$scope.shippingAddress].address1.length &&
								currentUser.destinationAddress[$scope.shippingAddress].streetNumber.length &&
								currentUser.destinationAddress[$scope.shippingAddress].city.length &&
								currentUser.destinationAddress[$scope.shippingAddress].zipcode.length &&
								currentUser.destinationAddress[$scope.shippingAddress].email.length" type="submit" id="submit" value="Continue" ng-click="submitShippingForm(currentUser.destinationAddress[$scope.shippingAddress])" class="btn btn-primary">
								<input ng-hide="currentUser.destinationAddress[$scope.shippingAddress].firstname.length &&
								currentUser.destinationAddress[$scope.shippingAddress].lastname.length &&
								currentUser.destinationAddress[$scope.shippingAddress].address1.length &&
								currentUser.destinationAddress[$scope.shippingAddress].streetNumber.length &&
								currentUser.destinationAddress[$scope.shippingAddress].city.length &&
								currentUser.destinationAddress[$scope.shippingAddress].zipcode.length &&
								currentUser.destinationAddress[$scope.shippingAddress].email.length" type="submit" value="Continue" class="btn btn-primary" disabled>
							</div>
						</div>
						<br>
						<div style="width: 100%">* Required field</div>
						<div ng-show="currentUser.userType=='REGISTERED'">
						<div class="col-sm-12" style="margin-top: 10px;margin-bottom: 10px;">
							<input type="submit" value="New shipping address" class="btn btn-default btn-sm" ng-click="$scope.shippingAddress = -1" ng-class="{ success :$scope.shippingAddress === -1 }">
						</div>
						<div class="col-sm-6">
							<input type="submit" value="Address {{$index + 1}}" class="btn btn-default btn-sm" ng-click="$scope.shippingAddress = $index" ng-repeat="address in currentUser.destinationAddress" ng-class="{ success :$scope.shippingAddress != -1 }">
						</div>
						</div>
					</div>
					<div class="col-sm-5 clearfix">
						<div class="bill-to">
							<p>Ship To</p>
							<div class="form-one">
								<form>
									<input type="text" name="company" placeholder="Company Name" ng-model="currentUser.destinationAddress[$scope.shippingAddress].company">
									<input type="text" name="firstname" placeholder="First Name *" ng-model="currentUser.destinationAddress[$scope.shippingAddress].firstname" required>
									<input type="text" name="lastname" placeholder="Last Name *" ng-model="currentUser.destinationAddress[$scope.shippingAddress].lastname" required>
									<input type="text" name="address1" placeholder="Address *" ng-model="currentUser.destinationAddress[$scope.shippingAddress].address1" required>
									<input type="text" name="address2" placeholder="Address 2" ng-model="currentUser.destinationAddress[$scope.shippingAddress].address2">
									<input type="text" name="streetNumber" placeholder="Street Number *" ng-model="currentUser.destinationAddress[$scope.shippingAddress].streetNumber" required>
									<input type="text" name="city" placeholder="City *" ng-model="currentUser.destinationAddress[$scope.shippingAddress].city" required>
								</form>
							</div>
							<div class="form-two">
								<form>
								<div ng-if="currentUser.userType == 'REGISTERED'" ng-init="getDistrictByCountry(currentUser.shippingAddress.country.id)"></div>
									<select ng-options="country as country.description for country in countries track by country.description" ng-model="currentUser.shippingAddress.country" ng-change="getDistrictByCountry(currentUser.shippingAddress.country.id)">
										<option value ="" disabled>-- Country --</option>
									</select>
									<select ng-options="district as district.description for district in districts track by district.description" ng-model="currentUser.shippingAddress.district" >
										<option value = "" >-- District --</option>
									</select>							<input type="text" name="zipcode" placeholder="Zip / Postal Code *" ng-model="currentUser.destinationAddress[$scope.shippingAddress].zipcode" required>
									<input type="text" name="email" placeholder="Email *" ng-model="currentUser.destinationAddress[$scope.shippingAddress].email" required>
									<input type="text" name="phone" placeholder="Phone" ng-model="currentUser.destinationAddress[$scope.shippingAddress].phone" required>
									<input type="text" name="mobile" placeholder="Mobile Phone" ng-model="currentUser.destinationAddress[$scope.shippingAddress].mobile">
									<input type="text" name="fax" placeholder="Fax" ng-model="currentUser.destinationAddress[$scope.shippingAddress].fax">
								</form>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="order-message">
							<p>Shipping Order</p>
							<textarea name="message" name="field1" placeholder="Notes about your order, Special Notes for Delivery" ng-model="currentUser.destinationAddress[$scope.shippingAddress].field1" rows="16"></textarea>
						</div>	
					</div>					
				</div>
			</div>