					<div class="product-details"><!--product-details-->
						<h2 class="title text-center">{{product.name}}</h2>
						<div class="col-sm-5">
							<div class="view-product">
							<h2 ng-hide="product.primaryImage.source"><i class="fa fa-spinner fa-spin fa-2x" style="background-image: url('');background-position: center;background-size: contain;background-repeat: no-repeat;"></i></h2>
							
									<div  ng-show="product.primaryImage.source" style="background-image: url({{product.primaryImage.source}});background-position: center;background-size: contain;background-repeat: no-repeat;height: 380px;"></div>
									<a href="" rel="prettyPhoto" title="title here" ng-click="openGalleryImageModal(product.primaryImage.source)" ><h3>ZOOM</h3></a>
							</div>
							<div id="similar-product" class="carousel slide" data-ride="carousel" ng-init="gallery = 0">
								<div class="clearfix visible-xs-block"></div>
<!-- 								  Wrapper for slides -->
								    <div class="carousel-inner" data-role="image">
										<div class="item active">
										  <div ng-repeat="i in range(3)" style="width:33%; float:left" ng-show="product.medias[i + gallery]">
										  <div ng-click="openGalleryImageModal(product.medias[i + gallery].source)" style="cursor: pointer;display: table;margin: 0 auto;background-image: url({{product.medias[i + gallery].source}});background-position: center;background-size: contain;background-repeat: no-repeat;height: 85px;width:85px" ></div>
										  </div>
										</div>
										
									</div>

								  <!--Controls -->
								  <button style="padding: 0px; border: none;" class="left item-control" data-slide="prev" ng-click="gallery = gallery - 1" ng-hide="gallery < 1">
									<i class="fa fa-angle-left"></i>
								  </button>
								  <button style="padding: 0px; border: none;" class="right item-control" data-slide="next"  ng-click="gallery = gallery + 1" ng-hide="gallery > (product.medias.length - 4)">
									<i class="fa fa-angle-right"></i>
								  </button>
							</div>
						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<img src="assets/images/product-details/new.jpg" class="newarrival" alt="" />
								<h2 id="productDescription" ng-bind-html="trustAsHtml(product.description)"></h2>
								<p id="productId">{{product.id}}</p>
								<img src="assets/images/product-details/rating.png" alt="" />
								<span>
									<span id="producePrice">&euro; {{product.price.currentPrice}}</span>
									<label>Quantity:</label>
									<input type="text"  ng-pattern="/^[0-9]{1,2}$/" ng-model="defaultQuantity">
									<button type="button" class="btn btn-fefault cart" ng-click="addToCart(product.code,defaultQuantity)" >
										<i class="fa fa-shopping-cart"></i>
										Add to cart
									</button>
								</span>
								<p id="buyable"></p>
								<p><strong>Condition:</strong> New</p>
								<p id="productCategory"><strong>Category: {{product.categories[0].name || product.categories[0].code}}</strong></p>								
								<p id="productBrand"><strong>Brand: {{product.brand.name || product.brand.code}}</strong></p>
								<a href=""><img src="assets/images/product-details/share.png" class="share img-responsive"  alt="" /></a>
							</div><!--/product-information-->
						</div>
					</div>
					<!--/product-details-->
<script type="text/ng-template" id="galleryImageDialog">
   <div class="modal-dialog" style="height:auto; max-height:50%; max-width:90%">
    <div class="modal-content" style="margin-top: auto;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="closeThisDialog()">&times;</button>
        <h4 class="modal-title">Serpics Platform Ecommerce</h4>
      	</div>
      	<div class="modal-body" style="max-height: 100%; max-width:100%">
        <img ng-src="{{ngDialogData.imageUrl}}" style="max-height: 100%; max-width:100%; margin: auto; display: block">
	</div>
 </div>          
</div>
</script>
