<script type="text/ng-template" id="registerSuccessDialog">
   <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="closeThisDialog()">&times;</button>
        <h4 class="modal-title">Serpics Platform Ecommerce</h4>
      	</div>
      	<div class="modal-body">
        <p><i class="fa fa-check"></i> {{ngDialogData.message}}</p>
		</div>
		<div class="modal-footer">
		<a ui-sref="shop.home" class="btn btn-default" id="home" >Home</a>
		<a class="btn btn-default" id="modalGo" ng-click="closeThisDialog()">Login</a>
	</div>
 </div>          
</div>
</script>

