<!--form-->
<div register-success-modal-directive></div>
<section id="form" ng-controller="LoginController as loginVm">
	<div class="container">
		<div class="row">			
			<div class="col-sm-8">
				<div class="signup-form">
					<!--sign up form-->
					<h2>New User Signup!</h2>					
					<span class="help-block" ng-model="loginVm.registerUser.registerMessage">{{currentUser.registerMessage}}</span>
					<form ng-submit="loginVm.register(registerUser)">
						<input type="text" ng-model="registerUser.firstname" name="registerUser.firstname" placeholder="Name"  required/> 
						<input type="text" ng-model="registerUser.lastname" name="registerUser.lastname" placeholder="Last Name"  required/> 
						<input type="email" ng-model="registerUser.email" name="registerUser.email"	placeholder="Email" required/> 
						<input type="text" ng-model="registerUser.logonid" name="registerUser.logonid" placeholder="Username"  required/> 
						<input type="password" ng-model="registerUser.password" name="registerUser.password"	placeholder="Password" required/>
						<button type="submit" class="btn btn-default" id="submit">Register</button>
					</form>	
				</div>
				<!--/sign up form-->
			</div>
		</div>
	</div>
</section>
<!--/form-->